/* 
    Document   : barraGoverno
    Created on : 02/07/2013, 20:37:04
    Author     : SOUL
    Description:
        Purpose of the stylesheet follows.
*/

/*padrao: preto*/

#barra-brasil-v3 { 
    position:relative; 
    clear:both; 
    overflow:hidden; 
    height:28px; 
    background:#000 url(../img/barra-brasil-v3-bgx.png) center bottom no-repeat;
}		
#barra-brasil-v3-marca { 
    position:relative; 
    height:28px; 
    width:960px; 
    margin:0 auto; 
    overflow:hidden; 
    text-indent:-99999px; 
    background:transparent url(../img/barra-brasil-v3-preto.png) right bottom no-repeat
}

#barra-brasil-v3-marca a { 
    position:absolute; 
    bottom:0; 
    right:0; 
    display:block;
    width:100px; 
    height:23px 
}


/*variacoes site a site*/
.barraGovernoEsquerda { background-image:none !important }
.barraGovernoEsquerda #barra-brasil-v3-marca { margin:0 !important }
.barraGovernoVerde { background-color:#00500f !important }
.barraGovernoVerde #barra-brasil-v3-marca { background-image:url(../img/barra-brasil-v3-verde.png) !important }
.barraGovernoAzul { background-color:#004b82 !important }
.barraGovernoAzul #barra-brasil-v3-marca { background-image:url(../img/barra-brasil-v3-azul.png) !important }
.barraGovernoCinza { background-color:#7f7f7f !important }
.barraGovernoCinza #barra-brasil-v3-marca { background-image:url(../img/barra-brasil-v3-cinza.png) !important }

.barraGovernoPreto { background-color:#000 !important }
.barraGovernoPreto #barra-brasil-v3-marca { background-image:url(../img/barra-brasil-v3-preto.png) !important }