/* 
    Document   : otimo
    Created on : 19/07/2013, 21:54:11
    Author     : SOUL
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin:  0px; 
    padding: 0px;
    text-align: center;
}

html {
    font-family: sans-serif; /* 1 */
}

#headerDegrade{
    clear: initial;

    height: 140px;

    /* Para Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #80829e 0%, #d4d4d4 100%) repeat-X;

    /* Para WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #80829e), color-stop(1, #d4d4d4)) repeat-X;

    /* Para IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80829e, endColorstr=#d4d4d4)";

    /* Para IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80829e, endColorstr=#d4d4d4);
}

.headerImagens{
    margin: 0 auto;
    width: 1000px;
}

#logoTopo{
    margin-top: 3px;
    float: left;
}

#logoGrevillea{
    margin-top: 20px;
    float: left;
}

.despesa{
    padding: 15px;
    font-size: 14px !important;
}

.resultado-despesa{
    padding: 45px;
    font-size: 14px !important;
}

.resultado-recebimento{
    padding: 35px;
    font-size: 14px !important;
}

.imput-recebimento{
    width: 120px
}

.evento-detalhe-observacao{
   min-width: 700px; 
   max-width: 483px; 
   margin-left: 30px; 
   width: 100% !important;
   background-color: #FFFFFF; 
   text-align: left; 
   font-size: initial   
}

#headerDireita{
    margin-top: 10px;
    float: right;
}


section{
    clear: both;
}

.corpo{
    margin: 0 auto;
    width: 1000px;
}

#noticias{
    float: left;
    width: 690px;
    text-align: left;
}

#listar-pagamento
.ui-datatable .ui-column-filter{
    width: 85px !important;
}

#direita{
    float: right;
    width: 300px;
    margin-bottom: 10px;
}

#formSenha{
    padding-top: 8%;
    padding-left: 35%;
    padding-right: 33%;
}

.direita{
    margin-top: 10px;
}

#footer{
    background: #000000;
    height: 30px;
    color: #ffffff;

}

#footer p{

    padding-top: 5px;
    font-weight: bold;
}

#stick {
    height: 1px;
}

footer{
    clear: both;
}

footer p{
    text-align: center;
}

body{
    /*    Adiciona o fundo Gradiente*/

    /* Para Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #B3B3B3 0%, #ffffff 100%) repeat-X;

    /* Para WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B3B3B3), color-stop(1, #ffffff)) repeat-X;

    /* Para IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3B3B3, endColorstr=#ffffff)";

    /* Para IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3B3B3, endColorstr=#ffffff);
}

#faleConosco{
    float: right;
    margin-right: 20px;
}

#perguntaFrequente{
    float: right;
    margin-right: 10px;
}

#logoAdmin{
    float: right;
}

#corpoAdmin{
    float: right;
    width: 995px;
    text-align: left !important;
}

.indexForm{
    background: #d4d4d4;
    padding: 10px;
    margin-bottom: 5px !important;
}

.esquerda {
    text-align: left;
    clear: left;
}

label{
    font-weight: bold !important;
    /*    padding-top: 5px;*/
    text-align: left !important;
    margin-right: 5px !important;
}

.ui-widget {
    font-size: 12px !important;
}

/*.ui-menuitem-link{
    width: 6em !important;
}*/

/*.ui-menubar .ui-menu-child .ui-menuitem-link{
    width: 100% !important;
}*/

.ui-panel{
    padding-bottom: 0px !important;
}

.ui-panel .ui-panel-content{
    padding-bottom: 0px !important;
}

.divMsg{
    width: 250px;
    color: #D20005;
    font-weight: bold;
    text-align: center !important;
}

h4{
    padding: 4px;
    margin-top: -10px !important;
    color: #3E4095 !important;
}

h5{
    padding: 3px;
    margin-top: -7px !important;
    margin-bottom: -1px !important;
    text-align: left; 
    padding-left: 10px;
}

P{
    text-align: left;
}

#labelForm{
    text-align: left !important;
    font-weight: bold !important;
    float: left !important;
    margin-right: 10px !important;
}

/*
.ui-widget-header a{
    color: #FFFFFF ;
}*/

#android{
    float: right;
    margin-top: 20px;
}

#imgandroid{
    min-height: 70px;
    max-height: 70px;
    min-width: 70px;
    max-width: 70px;
}

.tamanho995{
    min-width: 995px !important;
    max-width: 995px !important;
}

.left1{
    float: left !important;
}

.ui-datalist-content {
    background: none repeat scroll 0 0 !important;
    border: none !important;
}
